.sidebar {
  width: 320px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
}
.langHeading {
  font-size: 26px;
  text-align: center;
  height: 70px;
  line-height: 70px;
  margin: 0;
}
.nav {
  overflow: scroll;
  overflow-x: hidden;
  direction: rtl;
  & * {
    direction: ltr;
  }
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
  height: calc(100vh - 110px);
  background-color: #ffffff;

}
.btnNew {
  display: block;
  height: 40px;
  text-decoration: none;
  color: #ffffff;
  background-color: #000000;
  line-height: 40px;
  text-align: center;
}
.btnNewActive {
  background-color: #ffffff;
  color: #000000;
  cursor: url(../../assets/cursor/wstealth2_alt.cur), auto;
}