*,
*::after,
*::before {
	box-sizing: border-box;
	font-family: "Fira Code", monospace;
}
body {
	background-color: #000;
	color: #fff;
}

::-webkit-scrollbar {
	width: 12px;
	height: 8px;
	background-color: #000;
}

::-webkit-scrollbar-thumb {
	background-color: #fff;
}

::-webkit-scrollbar-button:vertical:start:decrement {
	display: none;
}

::-webkit-scrollbar-button:vertical:end:increment {
	display: none;
}
.App {
	padding-left: 320px;
}
